* {
  margin: 0;
  box-sizing: border-box;
}

body > img:nth-of-type(1) {
  display: none;
}


body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 1583px;
  font-size: 2rem;

  background-image: none;
  background-repeat: no-repeat;
  opacity: 1;
}

.container {
  display: grid;

  grid-template-columns:
    200px
    652px
    428px;

  grid-template-rows:
    47px
    479px
    104px
    664px
    133px
    46px
    675px;

  gap: 0;
}


.container > * {
  border: 2px dashed blue;
  padding: 0.5rem;
}


.box1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.box2 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: white;

  background-image: url("https://th.bing.com/th/id/OIG2.MX5qBBkx72STNDmII2qX?w=270&h=270&c=6&r=0&o=5&cb=ucfimg2&pid=ImgGn&ucfimg=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.box2 h1,
.box2 {
  position: relative;
  z-index: 1;
}

.box6 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: flex;
  background-color: white;
  padding: 0;
}


.box3 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.box4 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.box7 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.box5 {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

.top-bar {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.top-bar li {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #333;
  background-color: #f9f9f9;
}

.top-bar li:hover {
  background-color: #e0e0e0;
}

.menu-text {
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .top-bar {
    gap: 10px;
  }

  .box2 {
    padding: 10px;
  }

  .box2 h1 {
    font-size: 1.5rem;
    padding: 0 10px;
  }
}
