* {
    margin: 0;
    box-sizing: border-box;
}

body > img:nth-of-type(1) {
    display: none;
}
    
body {
    background-image: none;
    opacity: 1;
}

body {
    width: 100%;
    max-width: 100%;
    min-height: 1583px;
    font-size: 2rem;
    opacity: 0.5;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-template-columns: 
        minmax(200px, 200px) 
        minmax(652px, 652px) 
        minmax(428px, 428px);

    grid-template-rows:
        minmax(47px, 47px)
        minmax(479px, 479px)
        minmax(104px, 104px)
        minmax(664px, 664px)
        minmax(133px, 133px)
        minmax(46px, 46px)
        minmax(675px, 675px);

    gap: 0;
}

.container > * {
    border: 2px dashed blue;
    padding: 0.5rem;
}
.logo { grid-column: 1 / 4; grid-row: 1 / 2; }
.hero {grid-column: 2 / 4; grid-row: 2 / 3;}
.flex1 { grid-column: 1 / 4; grid-row: 3 / 4; }
.left1 { grid-column: 1 / 3; grid-row: 4 / 5; }
.right2 { grid-column: 3 / 4; grid-row: 4 / 5; } 
.flex2 { grid-column: 1 / 4; grid-row: 5 / 6; }
.menu {grid-column: 1/2; grid-row: 2/3;}
.menu {
    display: flex;
    height: 100%;          
    background-color: white;
    padding: 0;
    box-sizing: border-box;
    width: 200px;
}

.menu .top-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 200px; 
    height: 100%;      
}

.menu .top-bar li {
    flex: 1;             
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #333;  
    background-color: #f9f9f9;     
    box-sizing: border-box;
}

.menu .top-bar li:hover {
    background-color: #e0e0e0;
}

.menu .top-bar .menu-text {
    font-weight: bold;
    font-size: 25px;
}


.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
}

.logo img {
    max-width: 50px;
    width: 100%;
    height: auto;
    display: block;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    color: white;
    position: relative;

    background-image: url(https://th.bing.com/th/id/OIG2.MX5qBBkx72STNDmII2qX?w=270&h=270&c=6&r=0&o=5&cb=ucfimg2&pid=ImgGn&ucfimg=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero h1 {
    font-size: 2rem;
    margin: 0;
    z-index: 1;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 0;
}


@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
    }

    .menu .top-bar {
        gap: 10px;
    }

    .logo img {
        max-width: 120px;
    }

    .hero h1 {
        font-size: 1.5rem;
        padding: 0 10px;
    }

    .hero {
        padding: 10px;
    }
}