* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/b49zcb8j3yw.png);
    background-repeat: no-repeat;
    max-width: 1282px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: 0.5;
    color: blue;
}

.container {
    display: grid;
    grid-template-columns: 100px 752px 428px;
    grid-template-rows: 47px 479px 104px 664px 133px 46px 665px;
    gap: 0;
}

.container > * {
    border: 2px dashed blue;
}

.box1 { grid-column: 1 / 2; grid-row: 1 / 2; }

.box6 { grid-column: 2 / 4; grid-row: 1 / 2; } 

.box2 { grid-column: 1 / 4; grid-row: 2 / 3; }

.box3 { grid-column: 1 / 4; grid-row: 3 / 4; }

.box4 { grid-column: 1 / 3; grid-row: 4 / 5; }

.box7 { grid-column: 3 / 4; grid-row: 4 / 5; } 

.box5 { grid-column: 1 / 4; grid-row: 5 / 6; }
