* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100%;
    min-height: 1583px;
    font-size: 2rem;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    display: grid;

    grid-template-columns: minmax(200px, 1fr) minmax(980px, 2fr);
    grid-template-rows:
        minmax(70px, auto)
        minmax(664px, auto)
        minmax(133px, auto)
        minmax(46px, auto)
        minmax(665px, auto); 
    gap: 0;
}

.container > * {
    border: 2px dashed blue;
    padding: 0.5rem;
}
.box1 { grid-column: 1 / 2; grid-row: 1 / 2; }
.box2 { grid-column: 2 / 4; grid-row: 1 / 2; }

.box6 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.box3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.box4 { 
    grid-column: 1 / 3; 
    grid-row: 3 / 4; 
}
.box7 { 
    grid-column: 3 / 4; 
    grid-row: 3 / 4; 
}
.box5 { grid-column: 1 / 4; grid-row: 4 / 5; }


.box6 {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;          
    background-color: white;
    padding: 0;
    box-sizing: border-box;
}

.box6 .top-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;      
}

.box6 .top-bar li {
    flex: 1;             
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #333;  
    background-color: #f9f9f9;
    width: 100%;         
    box-sizing: border-box;
}

.box6 .top-bar li:hover {
    background-color: #e0e0e0;
}

.box6 .top-bar .menu-text {
    font-weight: bold;
    font-size: 25px;
}


@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
    }

    .box6 .top-bar {
        gap: 10px;
    }
}
 