.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.container > * {
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid firebrick;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    color: pink;
}

.info {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 1rem;
}

.box4 > .info {
    justify-content: space-evenly;
}
.box2 > .info {
    justify-content: center; 
      align-items: flex-end; 
}

.box5 {
      justify-content: space-between;justify-content: flex-end;
    align-items: center;
}

.box3 {
  justify-content: space-between;
}

.box1 {
    justify-content: space-around;
}

.box1 ul { justify-content: space-between; }
.box2 ul { justify-content: space-around; }
.box3 ul { justify-content: space-evenly; }
.box4 ul { justify-content: center; }
.box5 ul { justify-content: flex-end; }

.box2 ul > * {
  flex-grow: 1;
}

button {
  background: firebrick;
  color: white;
  width: 100%;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.image {
  height: 200px;
  background-size: cover;
  background-position: center;
}


.box1 .image { background-image: url("https://unsplash.it/300/200?1"); }
.box2 .image { background-image: url("https://unsplash.it/300/200?2"); }
.box3 .image { background-image: url("https://unsplash.it/300/200?3"); }
.box4 .image { background-image: url("https://unsplash.it/300/200?4"); }
.box5 .image { background-image: url("https://unsplash.it/300/200?5"); }
