* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container > * {
  flex-basis: 200px;
  flex-grow: 1;
  border: 2px solid firebrick;
}

.image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.box1 .image { background-image: url("https://unsplash.it/300/200?1"); }
.box2 .image { background-image: url("https://unsplash.it/300/200?2"); }
.box3 .image { background-image: url("https://unsplash.it/300/200?3"); }
.box4 .image { background-image: url("https://unsplash.it/300/200?4"); }
.box5 .image { background-image: url("https://unsplash.it/300/200?5"); }

.info {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 1rem;
}
.box1 > .info { justify-content: space-around; }
.box2 > .info { justify-content: center; align-items: flex-end; }
.box3 > .info { justify-content: space-between; }
.box4 > .info { justify-content: space-evenly; }
.box5 > .info { justify-content: flex-end; align-items: center; }

ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 0.5rem;
}

ul li {
  background-color: pink;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
}

.box1 ul { justify-content: space-between; }
.box2 ul { justify-content: space-around; }
.box3 ul { justify-content: space-evenly; }
.box4 ul { justify-content: center; }
.box5 ul { justify-content: flex-end; }

.box2 ul > * {
  flex-grow: 1;
}

button {
  background: firebrick;
  color: white;
  width: 100%;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}